*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

/*Generals*/

/*Texts*/

/*Titles*/

/*Backgrounds*/

/*Buttons*/

/*Borders*/

/*Header*/

/*Main generals*/

/*Demo*/

/*Planning*/

/*Testimonials*/

/*Features*/

/*About us*/

/*Get started*/

/*Footer*/

/*Media Queries*/